$polo-blue: #7B9FCB;
$mine-shaft: #2D2D2D;
$butter-cup: #F5B010;
$azure-radiance: #157CF9;
$alto: #D9D9D9;
$astronaut: #21416F;
$white: #ffffff;
$tangaroa: #041742;
$wild-sand: #F5F5F5;
$danube: #6C95C6;
$main-font: 'Helvetica Neue', sans-serif;
$sub-font: 'Roboto', sans-serif;;
$sub-font-condensed: 'Roboto Condensed', sans-serif;;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;