html, body {
    font-family: 'Helvetica Neue', sans-serif;
}
.navbar {
    padding: 1rem;
    border-bottom: 1px solid #21416F;
}
.navbar-nav:not(.navbar-lang) .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-main {
    margin-right: 100px;
}
.navbar-lang .nav-item {
    height: 40px;
    width: 35px;
}
.navbar-nav .nav-link {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
.navbar-nav .active .nav-link,
.navbar-nav .nav-link:hover{
    color: #157CF9;
}
.navbar-brand img {
    height: 35px;
}
.navbar-lang .nav-link {
    opacity: 0.5;
}
.navbar-lang .active .nav-link,
.navbar-lang .nav-link:hover {
    opacity: 1;
}
.header {
    background: #041742;
}
.home {
    padding: 2em 0 5em;
}
.home .intro {
    color: #D9D9D9;
}
.home .image {
    padding: 0 2em;
}
.home .text {
    padding: 2rem 2em 4em;
    margin: 0 2em 0 0;
}
.home .text h1 {
    font-family: 'Helvetica Neue';
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    background: url(../images/background/pattern1.png) top right no-repeat;
    background-size: 75%;
    font-size: 55px;
    padding: 2rem 0 0;
    line-height: 1;
}
.home .text h1 span {
    color: #157CF9;
    font-size: 140px;
}
.home .text a.collapsed:after {
    content: attr(data-collapsed);
}
.home .text a:not(.collapsed):after {
    content: attr(data-not-collapsed);
}
.home .text .btn {
    width: 200px;
    color: #2D2D2D;
    background: #F5B010;
    padding: .475rem .75rem;
}
.home .text .action {
    padding: 1rem 0;
}